<ion-view view-title="Brand">
   <ion-content class="padding" has-bouncing="true">
      <ion-list>
           <div class="back-stable cornered padding">
			  
      			   <label class="item item-input">
	                     <input class="input" type="text" placeholder="From" ng-model="sampleData.from"  ionic-autocomplete="{items: fromItems, onSelect:fromItemsOnSelect}"  />
                   </label> 
       
                     <label class="item item-input">
	                     <input type="text" placeholder="To" ng-model="sampleData.to" ionic-autocomplete="{items: items, onSelect:onSelect}" class="input">
                     </label> 
                     
                     <label class="item item-input item-select">
                          <span class="input-label">Van Size</span>
                               <select ng-model="sampleData.vanSize">
				                    <option>Small</option>
				                    <option>Medium</option>
				                    <option>Large</option>
				                    <option>Extra Large</option>
                               </select>
                      </label>
                      
		            <label class="item item-input">
				       <span class="in_pad2"></span> 
						  <span class="item-icon-right"> <i
							class="icon ion-ios-calendar-outline"style="color:#fff !important;"></i>
									<input type="text" placeholder="Date of Move" ng-model="datepicker" name="datepicker" ng-click="opendateModal()" class="input" >
					  	 </span>
					  	 
					</label>
					
					
					<label class="item item-input label5">
				   		<span class="input-label">Flexible?</span>
					        <ion-checkbox ng-model="sampleData.flexible" align="center"
					        		 ng-checked="item.checked" style="border:none !important;"> </ion-checkbox>
			        </label> 
			        
					<label class="item item-input"> 
			          <span class="input-label">Day</span> 
				              <ion-radio value="fullDay" ng-model="sampleData.isFullDay" class="radioCls" />Full Day</ion-radio>
				              <ion-radio value="halfDay" ng-model="sampleData.isFullDay" class="radioCls"/>Half Day</ion-radio> 
			         </label>
         
			         <label class="item item-input"> 
			          	<span class="input-label">Time Of Move</span> 
				              <ion-radio value="AM" ng-model="sampleData.timeOfMove" class="radioCls" />AM</ion-radio>
				              <ion-radio value="PM" ng-model="sampleData.timeOfMove" class="radioCls"/>PM</ion-radio> 
				              <ion-radio value="Any"ng-model="sampleData.timeOfMove" class="radioCls"/>Any</ion-radio> 
			         </label> 
               
			          <label class="item item-input label5">
			             <span class="input-label col-sm-8" style="padding-left:1px;">Need Help With Packing</span>
			                     <ion-checkbox ng-model="sampleData.needHelpPacking"
			                     		 style="border:none !important; color:#fff; font-weight:bold;"></ion-checkbox>
			          </label>
			          
			           <ion-item  ui-sref="tab.viewBrand({ vanSize : sampleData.vanSize, flexible : sampleData.flexible, to : sampleData.to})">
               		<button class="button button-calm button-small">Search</button>
               	</ion-item>
			          
              <!--  <ion-item  ui-sref="tab.viewBrand({from : sampleData.from, to : sampleData.to, vanSize : sampleData.vanSize, moveDate : sampleData.moveDate, flexible : sampleData.flexible, isFullDay : sampleData.isFullDay, timeOfMove : sampleData.timeOfMove})">
               		<button class="button button-calm button-small">Search</button>
               	</ion-item> -->
   
   
 </div>
</ion-list>
</ion-content> </ion-view>










