<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<!-- Background Galaxy as an Abstract -->
<div id="galaxy">
    <div class="bg"></div>
    <div class="stars-back"></div>
    <div class="stars-middle"></div>
    <div class="stars-front"></div>
    <!-- <div class="bg center"></div> -->
</div>  

<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="Search" icon="ion-search" href="#/tab/searchBrand">
    <ion-nav-view name="tab-searchBrand" ></ion-nav-view>
  </ion-tab>
 </ion-tabs>
