<ion-view view-title="View Brand">
   <ion-content class="padding">
         <div ng-repeat="search in searchData">
         
		      <div class="row item">
			      <div class="col-xs-2"></div>
			          <div class="col-xs-4">
				          <i class="ion-arrow-expand" style="color: #fff; font-size: 83px"></i>
			          </div>
			      <div class="col-xs-4 text-center crosslab">
				  <label>{{search.companyName}}</label> <br> <i
					class="ion-ios-star-outline" style="color: #fff; font-size: 22px"></i>
			     </div>
			     <div class="col-xs-2"></div>
		    </div>
	
	   <div class="list">
		    <label class="item item-input sideLabel"> <span class="input-label col-xs-10"
			     style="padding-left: 17px;">Packing Cost</span>
			     <ion-checkbox ng-model="sampleData.labelFive" align="center"
			      ng-checked="item.checked" style="border:none !important;">
			    </ion-checkbox>
			 <div class="col-xs-2 sLabel">{{search.pkgCost}}</div>
		    </label>
		
		   <label class="item item-input sideLabel">
		       <ion-radio class="col-xs-10"
				ng-model="labelThree" ng-value="'A'" style="border:none !important;
				 font-size: 15px !important;">Smaller Size Van</ion-radio>
			   <div class="col-xs-2 sLabel">{{search.smallVan}}</div></label>
			
			 <label class="item item-input sideLabel">
			 <ion-radio ng-model="choice" ng-value="'B'" class="col-xs-10"
				style="border:none !important;font-size: 15px !important;">Proposed Van For Your Home</ion-radio>
			<div class="col-xs-2 sLabel">{{search.proposedVan}}</div>
		   </label>
		
		      <label class="item item-input sideLabel"> <ion-radio ng-model="label5" class="col-xs-10"
					ng-value="'B'" style="border:none !important;
					font-size: 15px !important;">Bigger Size Van</ion-radio>
				  <div class="col-xs-2 sLabel">{{search.biggerVan}}</div>
			  </label> 
			
			<label class="item item-input sideLabel">
			<ion-radio ng-model="labelSix" ng-value="'B'" class="col-xs-10"
				style="border:none !important;font-size: 15px !important;">Even Bigger Size Van</ion-radio>
			<div class="col-xs-2 sLabel">{{search.evenBiggerVan}}</div>
			</label>
			
			 <label class="item item-input sideLabel"><span class="input-label col-xs-10"
			    style="padding-left: 17px;font-size: 15px !important;">Total Cost</span>
		      <div style="padding-left: 79px;"></div>
			  <div class="col-xs-2 sLabel">{{search.totolCost}}</div></label>
		
		<label class="item item-input sideLabel"><span class="input-label"
			style="padding-left: 17px;"><button class="button button-royal button-small">Action</button></span>
         </label>
	</div>
</div>

</ion-content> </ion-view>
